@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Nunito&family=Silkscreen&display=swap");

* {
  margin: 0;
}
html, body {
  font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
}
.main-heading {
  font-family: "Bungee Shade", cursive;
  /* font-family: "Silkscreen", cursive; */
}
